# Ignore node_modules
node_modules/

# Ignore build or distribution files (if any)
dist/

# Ignore temporary files
*.log
*.tmp
*.bak

# Ignore package lock files (optional, if you want package-lock.json in source control remove this line)
package-lock.json

# Ignore OS-specific files
.DS_Store          # macOS
Thumbs.db          # Windows
ehthumbs.db        # Windows
Desktop.ini        # Windows

# Ignore Vite and npm debug files
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
